# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# testing
/coverage

# production
/build

/paper-dashboard-react-main

/backend/Models
/backend/APIs/__pycache__
/backend/__pycache__
/backend/app2/Model

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
